body{
    background-image: url('https://user-images.githubusercontent.com/42020919/85220683-88600480-b3e8-11ea-97e1-ad97a7d4f7e0.png');
    padding-top: 56px;
    height: 100vh;
    background-size: cover;
    /* background-position: initial; */
    background-position: center;
}